{% extends 'base.html.twig' %}
 
{% block title %}Mot de passe oublié{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container mt-4">
    <h1>Mot de passe oublié</h1>
    {{ form_start(form)}}
    {{ form_row(form.email.first, {'label': 'Adresse email', 'attr': {'placeholder':'Adresse email...'}}) }}
    {{ form_row(form.email.second, {'label': 'Confirmation adresse email', 'attr': {'placeholder':'Confirmer votre Email...'}}) }}
    {{form_widget(form)}}
    <button type="submit" class="btn btn-success">Envoyer</button>
    {{form_end(form)}}
</div>
{% endblock %}