
{{ form_start(form) }}
 {{ form_row(form.imageFile, {'label': 'Adresse email', 'attr': {'placeholder':'Adresse email...'}}) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('ajouter') }}</button>
{{ form_end(form) }}
