
{{ form_start(form) }}
 {{ form_row(form.file, {'label': 'Image', 'attr': {'placeholder':'Ajouter une nouvelle Image...'}}) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('ajouter') }}</button>
{{ form_end(form) }}
