{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}
{% block title %}Modifier un Trick
{% endblock %}

{% block body %}
	{% if trick.imageList is empty  %}
		<!---cover image trick-->
		<div class="jumbotron jumbotron-fluid" style="background-image: url('{{asset('uploads/images/default.jpg')}}')">

		{% else %}
			<div class="jumbotron jumbotron-fluid" style="background-image: url('{{asset('upload/'~ trick.imageList[0].filename)}}')">
			{% endif %}
			<div class="container">
				<div class="icon-cover">
					{% if trick.imageList is not empty  %}

						<a href="{{ path('edit_image', {'id': trick.imageList[0].id}) }}">
							<i class="far fa-edit fa-lg"></i>
							Modifier
						</a>

						{{ include('trick/_delete_cover_image_form.html.twig') }}
					{% endif %}
				</div>
				<h1 class="display-4">{{trick.name}}</h1>
				<a href="{{ path('trick_show', {'id': trick.id, 'slug': trick.slug}) }}#tricksimages">test</a>
			</div>
		</div>

		<div class="container grid-img" id="tricksimages">
			<h2>Mise à jour du Trick</h2>
			<div class="row justify-content-center">
				{% for image  in trick.imageList[1:] %}
					<div class="col-md-4 text-center">
						<img class="img-fluid img-thumbnail" src="{{asset('upload/' ~ image.filename)}}">
						<div>
							<a href="{{ path('edit_image', {'id': image.id}) }}">
								<i class="far fa-edit fa-lg"></i>
								Modifier
							</a>
							{{ include('trick/_delete_image_form.html.twig') }}
						</div>
					</div>

				{% endfor %}
			</div>
			<div class="row justify-content-center">
				{{ include('trick/_form.html.twig', {'button_label': 'Update'}) }}


				<div class="d-flex justify-content-center justify-content-sm-end mb-2 ">
					<a href="{{ path('trick_edit',{'id' : trick.id , 'slug': trick.slug}) }}" class="btn btn-primary ">Retour</a>
					{% include 'trick/_delete_form.html.twig' with {'icon':true} %}
				</div>


			</div>

		</div>

	{% endblock %}
