{% block body %}

	<div class="container-fluid grid-img px-5" id="tricksimages">

		{% for trick in tricks %}
			{% if loop.index0 is divisible by(4) %}
				<section class="row">
				{% endif %}
				<article
					class="col-sm-3 text-center">
					<!---cover image trick-->
					<a href="{{ path('trick_show',{'id': trick.id, 'slug': trick.slug}) }}"><img class="img-fluid img-thumbnail" src="{{asset('upload/' ~ trick.imageList[0].filename)}}"></a>
					<!-- trick interactions-->
					<div class="d-flex infoTrick justify-content-between px-3">
						<h5>
							{{ trick.name }}</h5>
						<a href="{{ path('trick_edit', {'id': trick.id, 'slug': trick.slug}) }}">
							<i class="far fa-edit fa-lg" title="editer"></i>
						</a>
						{{ include('trick/_delete_form.html.twig') }}
					</div>


				</article>
				{% if loop.index is divisible by(4) or loop.last %}
				</section>
			{% endif %}
		{% endfor %}


	</div>


{% endblock %}
