{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}

{% endblock %}
{% block title %}Trick
{% endblock %}

{% block body %}
	<!--Cover Image-->
	<div class="container-fluid p-0" style="position:relative;">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		{% if trick.imageList is empty  %}
			<section class="mainVisu" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{{asset('upload/tricksImage/default.jpg')}}');">
			{% else %}
				<section class="mainVisu" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{{asset('upload/tricksImage/'~ trick.imageList[0].filename)}}');">
				{% endif %}
				<h1 class="display-4 text-center">"{{trick.name}}"</h1>
				<br>
				<a href="{{ path('trick_show', {'id' : trick.id , 'slug': trick.slug}) }}#editButtons" class="btn btn-pill btn-primary">Détails du trick
					<br>
					<i class="fas fa-arrow-down" style="font-size:2em; color:white;"></i>
				</a>
			</section>
		</div>
		<!-- Edit and delete button-->
		<div class="container-fluid px-5" id="editButtons">

			<div class="d-flex justify-content-center justify-content-sm-end mb-2 ">
				{% if is_granted('ROLE_USER') %}
					<a href="{{ path('trick_edit',{'id' : trick.id , 'slug': trick.slug}) }}" class="btn btn-primary btn mr-1 ">Modifier</a>
					<!--Show delete button if icon = false-->
					{% include 'trick/_delete_form.html.twig' with {icon:false} %}
				{% endif %}
			</div>
		</div>
		<div
			class="container-fluid px-5 grid-img" id="tricksimages">
			<!--Image grid-->
			<div class="row justify-content-center my-4">

				<div class="col-md-6 text-center">
					{% for image  in trick.imageList[1:] %}
						{% if loop.index0 is divisible by(3) %}
							<section class="row mb-2 ">
							{% endif %}
							<article class="col-md-12 col-lg-4 mb-2">
								<a href="{{asset('upload/tricksImage/' ~ image.filename)}}" data-lightbox=" image-full">
									<img class="img-fluid img-thumbnail" alt="trick-image" data-lightbox="image-full" src="{{asset('upload/tricksImage/' ~ image.filename)}}" alt="trick-image"></a>
							</article>
							{% if loop.index is divisible by(3) or loop.last %}
							</section>
						{% endif %}
					{% endfor %}
				</div>
				<!-- Video grid-->
				<div class="col-md-6 text-center">
					{% for video in trick.videos %}
						{% if loop.index0 is divisible by(3) %}
							<section class="row mb-2 ">
							{% endif %}
							<article class="col-md-12 col-lg-4 mb-2">
								<div class="embed-responsive embed-responsive-4by3">
									<iframe width="560" height="315" src="{{ video.url }}" alt="trick-video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</article>
							{% if loop.index is divisible by(3) or loop.last %}
							</section>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
		<button class="display-button btn btn-primary mx-auto my-4" type="button">Voir plus de contenus
		</button>
		<!-- Trick details-->
		<div class="container">
			<div class="row">
				<div class="col-md-12 ">
					<h2>Description du Trick</h2>
					<p class="border rounded-sm p-4">{{ trick.description }}</p>
				</div>
			</div>
			<div class="row">
				<div class="details col-md-8">
					<p class="text-muted">
						<b>Posté le</b>:
						{{ trick.createdAt ?  trick.createdAt|date('d/m/Y \\à  H:i') : ''}}
						{% if trick.updatedAt is not null %}
							<b>, Dernière modification le:</b>
							{{ trick.updatedAt ? trick.updatedAt|date('d/m/Y \\à  H:i') : '' }}
						{% endif %}
					</p>
					<p class="text-muted">
						<b>Groupe du Trick</b>:
						{{ trick.category.name}}</p>
				</div>
			</div>
			<!-- Comments -->

			{% if is_granted('ROLE_USER') %}
				<hr>
				<div class="row justify-content-center">
					<div class="col-md-8 col-xs-10">
						{{ form_start(form)}}
						{{ form_row(form.content)}}
						{{form_widget(form)}}
						<button type="submit" class="btn btn-primary">Laisser un commentaire</button>
						{{form_end(form)}}
					</div>
				</div>
			{% else %}
				<div>
					<hr>
					<p class="alert alert-info">
						<a href="{{path('app_login')}}">Connectez-vous</a>
						ou
						<a href="{{path('app_register')}}">Créer un compte
						</a>si vous voulez participer à l'espace de discussion.
					</p>
				</div>
			{% endif %}
			<div class="d-flex justify-content-center justify-content-sm-end mb-2 "></div>
			<hr>
			<section id="comments" data-allcomments={{lastcomments |length}} data-path="{{ path('loadMoreComments', {'id': trick.id} ) }}/">
				{% for comment in lastcomments | slice(0,5) %}
					<div class="comment row mx-auto">
						<div class="col-md-10 col-12 mx-auto row">
							<img class="avatar" src="{{asset('upload/avatar/' ~ comment.author.profile.avatarFilename)}}" alt="avatar-image">
							<p class="col-lg-10 col-8 bg-light">
								<strong>{{ comment.author.username }}</strong>
								<small class="text-muted">({{ comment.createdAt | date('d/m/Y à H:i') }}) :</small>
								<br>{{ comment.content }}
							</p>
						</div>
					</div>
				{% endfor %}
			</section>
			<!-- Loadmore comments button-->
			{% if lastcomments |length > 4 %}
				<div class="row">
					<button id="loadMoreComments" class="btn btn-primary col-md-6 col-8 mx-auto">Voir plus de commentaires</button>
				</div>
			{% endif %}
		</div>
	{% endblock %}
	{% block javascripts %}

		{{ encore_entry_script_tags('app') }}

	{% endblock %}
